<div class="border">
  <p>
    naranja works!
  </p>

  <app-tomate></app-tomate>

  <p>{{ mensaje }}</p>
  <p>{{ error }}</p>

  <p>
    la suma de {{var1}} + {{var2}} es {{var1 + var2}}
  </p>

  <p [hidden]="isHidden">Soy un párrafo oscilante</p>
  <p [class.special]="isSpecial">Yo también</p>


  <input [value]="elinput" (keyup)="updateInput($event.target.value)" name="elinput" />

  <p>{{elinput}}</p>

  <input [(ngModel)]="elinput2" name="elinput" />

  <p>{{elinput2}}</p>
</div>