<div class="border">
  <p>
    tomate works!
  </p>

  <p>
    <button (click)="change()">dale</button>
  </p>

  <p>
    {{a}}
  </p>

  <p>
    {{arr }}
  </p>
  <p>  
      {{arr | sort }}
  </p>

  
    <ul>
      <li *ngFor="let i of (arr | sort)">{{i}}</li>
    </ul>
  
  
</div>