.tarea {
    border-style: solid;
    border-color: brown;    
}

.listado {
    border-style: solid;
    border-color: aqua;    
}

.crear {
    border-style: solid;
    border-color: darkcyan;    
}

.actualizar {
    border-style: solid;
    border-color: blue;    
}

.borrar {
    border-style: solid;
    border-color: chartreuse;    
}