<div class="tarea">
  <h3>Consultar Tarea</h3>
  <p>
    <input #idTaskBox name="idTask" />
    <button (click)="getTarea()">ver tarea</button>
  </p>

  <ul *ngIf="currentTarea">
    <li>{{currentTarea.userId}}</li>
    <li>{{currentTarea.id}}</li>
    <li>{{currentTarea.title}}</li>
    <li>{{currentTarea.completed}}</li>
  </ul>
</div>

<div class="crear">
  <h3>Crear Tarea</h3>
    <p>
        UserId: <input #userIdBox name="idTask" />
    </p>
    <p>
        Title: <input #titleBox name="title" />
    </p>
    <p>
        Completed: <input #completedBox type="checkbox" name="completed" />
    </p>
    <p>
      <button (click)="createTarea()">crear tarea</button>
    </p>
</div>

<div class="actualizar">
    <h3>Actualizar Tarea</h3>
    <p>
        Id: <input #idTaskBoxUp name="id" />
    </p>
    <p>
        UserId: <input #userIdBoxUp name="idTaskUp" />
    </p>
    <p>
        Title: <input #titleBoxUp name="titleUp" />
    </p>
    <p>
        Completed: <input #completedBoxUp type="checkbox" name="completedUp" />
    </p>
    <p>
      <button (click)="updateTarea()">actualizar tarea</button>
    </p>
</div>

<div class="borrar">
    <p>
        Id: <input #idTaskBoxDel name="id" />
        <button (click)="borrarTarea()">borrar tarea</button>
    </p>
</div>

<div class="listado">
  <h3>Listado</h3>
  <table>
    <tr>
      <th>UserId</th>
      <th>id</th>
      <th>title</th>
      <th>completed</th>
    </tr>
    <tr *ngFor="let tarea of tareas">
      <td>{{tarea.userId}}</td>
      <td>{{tarea.id}}</td>
      <td>{{tarea.title}}</td>
      <td>{{tarea.completed}}</td>
    </tr>
  </table>
</div>