<div class="border body">
  <div>
    <p>
        <input [(ngModel)]="text" />
    </p>
    <p>
        <input [(ngModel)]="text2" />
    </p>
    
  </div>

  <div (click)="changeClass()" class="container">
    <div [class]="classt1"> {{text}}</div>
    <div [class]="classt2">{{text2}}</div>
  </div>
</div>